<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Year Wishes</title>
    <!-- animate.css -->
    <link rel="stylesheet" href="css/animate.css" type="text/css">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton|Lobster|Merriweather+Sans|Patua+One|Ubuntu+Condensed|Yanone+Kaffeesatz"rel="stylesheet">
    <!-- 自己的style -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
    <!-- 加一行註解試推 -->
    <div class="bg bg1 position-fixed w-100 h100 animated z-front" id="bg1">
        <div id="y2018" class="animated fadeIn slow">
            2018.
            <div class="word">
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>5</span>
                <span>6</span>
                <span>7</span>
                <span>8</span>
                <span>9</span>
                <span>10</span>
                <span>11</span>
                <span>12</span>
            </div>
        </div>

        <div id="y2019" class="invisible">Make Wish For<br>My 2019</div>

        <!-- 箭頭 -->
        <div id="section03" class="demo invisible">
            <a><span></span>請往下滑</a>
        </div>
    </div>


    <div class="bg bg2 position-fixed w-100 h100 slide animated invisible z-bottom" id="bg2">
    </div>

    <div id="form-fixed" class="position-fixed w-100 h100" style="left: 50%; transform: translateX(-50%);">
        <div class="d-flex justify-content-center">
            <div id="forms" class="container position-absolute" style="min-height: 100vh;">
                <div class="d-flex justify-content-center">
                    <div id="form" class="w-50">
                        <form class="w-100" novalidate>
                            <!-- 許願 -->
                            
                            <div class="form-group text-center text-white font-weight-bold mt-3 mt-md-5">
                                <label for="wish_title">願望/目標</label>
                                <input type="text" class="form-control" id="wish_title" aria-describedby="" placeholder="寫下你的願望吧！"
                                    >
                                <div class="invalid-feedback text-danger font-weight-normal">
                                    請簡略地寫下您的新年願望
                                </div>
                            </div>

                            <div class="form-group text-center text-white font-weight-bold">
                                <label for="wish_desc">為什麼想許這願望/目標呢？</label>
                                <textarea class="form-control" id="wish_desc" rows="3" placeholder="讓自己在新的一年，更認識自己。"></textarea>
                            </div>
                            <!-- 姓名+居住地 -->
                            <div>
                                <div class="row">
                                    <div class="col-md mt-3">
                                        <label for="name" class="text-white">姓名</label>
                                        <input type="text" class="form-control" id="user_name" placeholder="你的姓名">
                                        <div class="invalid-feedback text-danger">
                                            請寫下您的姓名
                                        </div>
                                    </div>
                                    <div class="col-md mt-3">
                                        <label for="area" class="text-white">現居縣市</label>
                                        <select id="area" class="form-control">
                                            <option></option>
                                            <option>臺北市</option>
                                            <option>基隆市</option>
                                            <option>新北市</option>
                                            <option>宜蘭縣</option>
                                            <option>新竹市</option>
                                            <option>新竹縣</option>
                                            <option>桃園市</option>
                                            <option>苗栗縣</option>
                                            <option>台中市</option>
                                            <option>彰化縣</option>
                                            <option>南投縣</option>
                                            <option>嘉義市</option>
                                            <option>嘉義縣</option>
                                            <option>雲林縣</option>
                                            <option>台南市</option>
                                            <option>高雄市</option>
                                            <option>澎湖縣</option>
                                            <option>金門縣</option>
                                            <option>屏東縣</option>
                                            <option>台東縣</option>
                                            <option>花蓮縣</option>
                                            <option>連江縣</option>
                                        </select>
                                        <div class="invalid-feedback text-danger">
                                            請選擇您所在的縣市
                                        </div>
                                    </div>
                                </div>
                                <!-- email資訊 -->
                                <div class="form-group">
                                    <label for="contact" class="text-white mt-3">Email</label>
                                    <input type="email" class="form-control" id="contact" placeholder="xxx@example.com"
                                    >
                                    <div class="invalid-feedback text-danger">
                                        請留下您的聯絡email
                                    </div>
                                </div>
                                <!-- 是否希望進行媒合 -->
                                <!-- <label for="radio" class="text-white mt-md-3">是否希望進行媒合？</label>

                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input"
                                        required>
                                    <label class="custom-control-label text-white" for="customRadio1">是</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input"
                                        required>
                                    <label class="custom-control-label text-white" for="customRadio2">不是</label>
                                    <div class="invalid-feedback text-danger">
                                        請選擇是否進行媒合
                                    </div>
                                </div> -->
                            </div>
                            <button id="send" type="button" class="btn btn-block btn-outline-light my-3 mt-md-5 font-weight-bold">許下願望</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <script src="js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            let y2018 = $("#y2018");
            let y2019 = $("#y2019");
            let section3 = $('#section03');

            setTimeout(function () {
                y2018.addClass('flipOutX');
            }, 7200);

            setTimeout(function () {
                y2018.addClass('d-none');
            }, 8600);

            setTimeout(function () {
                y2019.addClass('animated fadeIn slow');
                y2019.removeClass("invisible");
                section3.addClass('animated fadeIn slow');
                section3.removeClass("invisible");
            }, 8700);
        });
    </script>

    <script>
        $(function () {
            $(window).scroll(function () {
                let scrollTop = $(document).scrollTop();
                if (scrollTop > 800) {
                    $('#bg1').addClass("fadeOut z-bottom");
                    $('#bg1').removeClass("z-front");
                    $('#bg2').addClass("fadeIn z-middle");
                    $('#form-fixed').addClass("z-front scroll_bar");
                    $('#bg2').removeClass("invisible z-bottom");
                };
            });
        });
    </script>
</body>

</html>