body{
    margin: 0;
    height: 5000px;
    z-index: -100;
}
.h100{
    min-height: 100vh;
}

.h150{
    min-height: 150vh;
}

.h200{
    min-height: 200vh;
}

.h250{
    min-height: 250vh;
}

.h400{
    min-height: 400vh;
}

.bg{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: lighten;
    padding-top: 150px;
}
@media only screen and (min-width: 576px) {
    .bg2{
        /* background-color: orange; */
        background-image: url('../css/source/taipei_2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
}
.bg1{
    height:450px;
    /* background-image: url('../css/source/taipei101_3-2.jpg'); */
    background-color: black;
}



@media only screen and (max-width: 576px) {
    .bg2{
            background: linear-gradient(132deg, #a6c0fe, #f68084);
            background-size: 400% 400%;
            animation: BackgroundGradient 13s ease infinite; 

        }
        @keyframes BackgroundGradient {
            0% {background-position: 0% 50%}
            50% {background-position: 100% 50%}
            100% {background-position: 0% 50%}    
    }
}

.z-front{
    z-index: 100;
}
.z-middle{
    z-index: 50;
}
.z-bottom{
    z-index: -1;
}

.scroll_bar{
    overflow-y:scroll;
}



#y2018, #y2019{
    margin: 0 auto;
    font-size: 100px;
    vertical-align: middle;
    text-align: center;
    /* font-family: 'Noto Sans TC', sans-serif; */
    font-family: 'Anton', sans-serif;
    width: 100vw;
    color: white;
}

#y2019{
    font-style: italic;
}

.word{
    display: inline-block;
    color: white;
}

.word span{
    position: absolute;
    /* top: 100px; */
    overflow: hidden;
    animation: animate 3s linear;
    opacity: 0;
}

@keyframes animate{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    2%{
        opacity: 1;
        transform: translateY(0px);
    }
    18%{
        opacity: 1;
        transform: translateY(50px);
    }
    20%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 0;
        transform: translateY(50px);
    }
}

.word span:nth-child(1){
    animation-delay: 0s;
}
.word span:nth-child(2){
    animation-delay: 0.6s;
}
.word span:nth-child(3){
    animation-delay: 1.2s;
}
.word span:nth-child(4){
    animation-delay: 1.8s;
}
.word span:nth-child(5){
    animation-delay: 2.4s;
}
.word span:nth-child(6){
    animation-delay: 3s;
}
.word span:nth-child(7){
    animation-delay: 3.6s;
}
.word span:nth-child(8){
    animation-delay: 4.2s;
}
.word span:nth-child(9){
    animation-delay: 4.8s;
}
.word span:nth-child(10){
    animation-delay: 5.4s;
}
.word span:nth-child(11){
    animation-delay: 6s;
}
.word span:nth-child(12){
    animation-delay: 6.6s;
}

.d-none{
    display: none;
}

.invisible{
    visibility: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

/* this is for the scroll down icon 箭頭 */
#section03 a {
    padding-top: 60px;
}
#section03 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
}
#section03 a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}
#section03 a span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255,255,255,.1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      box-shadow: 0 0 0 60px rgba(255,255,255,.1);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}
@keyframes sdb03 {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      box-shadow: 0 0 0 60px rgba(255,255,255,.1);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}

.demo a {
    margin-top: 15px;
    margin: auto;
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(-50%, -50%);
    color: #fff!important;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
  
}
  
.demo a:hover {
    opacity: .5;
}

/* rwd */
@media only screen and (min-width: 768px) {

    #y2018, #y2019{
        margin: 0 auto;
        font-size: 50px;
    }

    .word span{
        position: absolute;
        top: 130px;
        overflow: hidden;
        animation: animate 3s linear;
        opacity: 0;
    }
}

@media only screen and (max-width: 768px) {

    #y2018, #y2019{
        margin: 0 auto;
        font-size: 25px;
    }

    .word span{
        position: absolute;
        top: 130px;
        overflow: hidden;
        animation: animate 3s linear;
        opacity: 0;
    }

    @keyframes animate{
        0%{
            opacity: 0;
            transform: translateY(-50px);
        }
        2%{
            opacity: 1;
            transform: translateY(0px);
        }
        18%{
            opacity: 1;
            transform: translateY(30px);
        }
        20%{
            opacity: 0;
            transform: translateY(30px);
        }
        100%{
            opacity: 0;
            transform: translateY(30px);
        }
    }
    
}